{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %}
{% block body %}
<div class="grid">
<div>
    {% include 'sortie/_filterSortie.html.twig' with {form: form} only %}

</div>
    <div class="table-responsive pre-scrollable table-bordered table-light">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">sortie</th>
            </tr>
            </thead>
            {#    {% for sortie in sorties %}#}
{#            <tr>#}
{#                <td>{{ sortie.name }}</td>#}
{#            </tr>#}
{#    {% endfor %}#}
</div>


{% endblock %}
