{% extends 'base.html.twig' %}
{% block title %}Proposer une sortie | {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">

            <div id="registerForm" class="col-lg-7 col-md-10 col-mb-10">

                <div class="jumbotron">

                    <h1>Créer une sortie</h1>

                    {{ form_start(sortieForm) }}
                    {{ form_widget(sortieForm) }}

                    <button class="btn btn-primary" type="submit" name="etat" value="1">Enregistrer</button>
                    <button class="btn btn-primary" type="submit" name="etat" value="2">Publier</button>
                    <button class="btn btn-primary" type="reset">Annuler</button>

                    {{ form_start(sortieForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}